[*.cs]

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none

# CA1060: Переместите вызовы PInvoke в класс собственных методов
dotnet_diagnostic.CA1060.severity = none
